.card {
    text-align: left;
    color: aliceblue;
    background-color: transparent;
    font-size: large;
    padding: 10px;
    border-width: 1px;
    border-style: solid;
    border-color: whitesmoke;
    border-radius: 0.5rem;

}